body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: courier;
  font-size: 2vw;
  text-align: center;
}

img {
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: white;
  background-color: lime;
}

.sm-left-container {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 1000px;
  float: left;
}

.sm-title {
  position: absolute;
  top: 1%;
  left: 25%;
  width: 50%;
}

.sm-links-container {
  position: absolute;
  top: 7%;
  left: 5%;
  width: 90%;
}

.sm-right-container {
  position: relative;
  top: 0;
  left: 50%;
  width: 50%;
  height: 1000px;
}

.sm-image {
  position: absolute;
  top: 15%;
  width: 80%;
  margin: 0 10%;
  border: solid lime;
  border-width: 2px;
  display: none;
}

.sm-image-showing--thehunger .sm-image--thehunger {
 display: block;
}

.sm-image-showing--blackhole .sm-image--blackhole {
 display: block;
}

.sm-image-showing--droptheneedle .sm-image--droptheneedle {
 display: block;
}

.sm-image-showing--spheres .sm-image--spheres {
 display: block;
}

.sm-image-showing--inferno .sm-image--inferno {
 display: block;
}

.sm-image-showing--shadowpuppet .sm-image--shadowpuppet {
 display: block;
}

.sm-image-showing--perspectivecollage .sm-image--perspectivecollage {
 display: block;
}

.sm-image-showing--theshining .sm-image--theshining {
 display: block;
}

.sm-image-showing--blueskywhitecloud .sm-image--blueskywhitecloud {
 display: block;
}

.sm-image-showing--cunninghamarchives .sm-image--cunninghamarchives {
 display: block;
}

.sm-image-showing--thecolourcollection .sm-image--thecolourcollection {
 display: block;
}

.sm-image-showing--collageboard .sm-image--collageboard {
 display: block;
}

.sm-image-showing--click .sm-image--click {
 display: block;
}

.sm-image-showing--minimalist .sm-image--minimalist {
 display: block;
}

.sm-image-showing--dontforgettohavefun .sm-image--dontforgettohavefun {
 display: block;
}

.sm-image-showing--categories .sm-image--categories {
 display: block;
}

.sm-image-showing--artofsport .sm-image--artofsport {
 display: block;
}

.sm-image-showing--sommarsolstice .sm-image--sommarsolstice {
 display: block;
}
